@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);


.navbar .navbar-inverse{
  background: rgba(0, 0, 0, 0.55);
}

.navbar .container .navbar-header .navbar-brand {
  color: white;

}

.navbar .container .navbar-header .navbar-brand:hover {
  transition: all ease-in-out .2s;
  color: grey;
}

.navbar .collapse .nav a {
    color: black;
    font-family: 'Open Sans';
    transition: all ease-in-out .2s;
    height: 40px;
    border-bottom: 0px solid grey;
}

div.navbar div.collapse ul li a:hover {
  background-color: rgba(47, 38, 240, 0);
}

.navbar .collapse .nav a:hover {
  color: grey;
  transition: all ease-in-out .2s;
  border-bottom: 1px solid grey;
  letter-spacing: 1px;
}

.navbar-toggle {
  background: rgba(0, 0, 0, 0.55)
}

.icon-bar {
  background-color: white;
}

.firstPic {
  background-image: url("../img/Gusatav.png");
  width: 100%;
  height: auto;
}

.firstPic h1 {
  text-align: center;
  font-weight: bold;
}

.infoText p {
  text-align: center;
  font-size: 20px;
}

.merInfo {
  text-align: center;
}

#upp {
  margin-top: 20px;
}

#rod {
  font-size: 45px;
  font-weight: bold;
  color: red;
}

.Bild1 {
  width: 100%;
  display: inline;
}

.huvud {
  text-align: center;
}

.huvud h1 {
  font-size: 100px;
  font-weight: bold;
}

.Gustav {
  width: 100%;
}

.whiteBread {
  text-align: center;
}


@media screen and (max-width: 1000px) {
}
